@{
    ViewData["Title"] = "Про проект";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Розроблений для систематизації наявних в ПАТ "УКРТРАНСГАЗ" систем автоматичного керування.</p>
