@{
    ViewData["Title"] = "Домашня";
}

<div class="jumbotron">
    <h1>Web каталог САК</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Статистика проекту:</h2>
        <h3>Систем автоматики:</h3>
        <h3>Більше 12 років:</h3>
        <h3>ГПА, ЛВУ,Користувачів, за добу, і тд:</h3>

        <p>
            Простий каталог для зручного користування.
        </p>
    </div>

</div>