@{
    ViewData["Title"] = "Домашня";
}

<div class="jumbotron">
    <h1>Web каталог САК</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h1>Статистика проекту:</h1>
        
        <h3>САК ГПА: <span class="label label-default">@ViewBag.NoOfSAK</span></h3>
        <h3>САК, що старше 12 років: <span class="label label-danger">@ViewBag.NoOfSAKOlder12</span></h3>
        <h3>ГПА: <span class="label label-default">@ViewBag.NoOfGPA</span></h3>
        <h3>Газопроводів: <span class="label label-default">@ViewBag.NoOfPipelines</span></h3>


        @*<h6>ЛВУ,Користувачів, за добу, і тд: (d)</h6>
        <h6>Систем автоматики: (d)</h6>*@

        <h1>Графіки: (dev)</h1>

        <p>
            Простий каталог для зручного користування.
        </p>
    </div>

</div>